body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;
    padding: 0 40px
}

h1 {
    font-size: 40px;
    margin-top:50px;
    color: white;
}

p{
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 200;
}

#genContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width:446px;
    margin-top: 56px;
}

button{
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    background: #027EB2;
    border:0;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background: #0A8FC2;
}

.line{
    height: 1px;
    background: #2F3E53;
    width:100%;
}


#gen-password{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch; 
}

.passwordField{
    width: 200px;
    height: 40px;
    border-radius: 6px;
    background: #273549;
    color: #7DD3FC;
    text-align: center;
    line-height: 40px;
}

.passwordField:hover{
    background: #324b70;
    cursor: pointer;
}
